<a href="https://colab.research.google.com/github/jmeugniot/bsan6070/blob/main/CA06/CA06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Your name: Jamie Meugniot
## Assignment Name: CA06 - K-Nearest Neighbor

###**Given a movies data set, what are the 5 most similar movies to a movie query?**

## Program Inititialization Section
### Import packages

In [7]:
# import packages 
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors

In [8]:
#Read in the data file
df_movies = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
df_movies

    Movie ID                        Movie Name  ...  History  Label
0         58                The Imitation Game  ...        0      0
1          8                        Ex Machina  ...        0      0
2         46                  A Beautiful Mind  ...        0      0
3         62                 Good Will Hunting  ...        0      0
4         97                      Forrest Gump  ...        0      0
5         98                                21  ...        1      0
6         31                            Gifted  ...        0      0
7          3               Travelling Salesman  ...        0      0
8         51                            Avatar  ...        0      0
9         47                    The Karate Kid  ...        0      0
10        50            A Brilliant Young Mind  ...        0      0
11        49                    A Time To Kill  ...        0      0
12        30                      Interstellar  ...        0      0
13        94           The Wolf of Wall Street  ...        0      0
14         6                     Black Panther  ...        0      0
15        73                         Inception  ...        0      0
16        44                    The Wind Rises  ...        0      0
17        65                     Spirited Away  ...        0      0
18        48                 Finding Forrester  ...        0      0
19        27                      The Fountain  ...        0      0
20        57                  The DaVinci Code  ...        0      0
21        57                 Stand and Deliver  ...        0      0
22        14                    The Terminator  ...        0      0
23        69                    21 Jump Street  ...        0      0
24        98                      The Avengers  ...        0      0
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[30 rows x 11 columns]

##Exploratory Analysis

In [22]:
#Describe the dataframe
df_movies.describe()

        Movie ID  IMDB Rating  Biography  ...    Mystery    History  Label
count  30.000000    30.000000  30.000000  ...  30.000000  30.000000   30.0
mean   48.133333     7.696667   0.233333  ...   0.100000   0.100000    0.0
std    29.288969     0.666169   0.430183  ...   0.305129   0.305129    0.0
min     1.000000     5.900000   0.000000  ...   0.000000   0.000000    0.0
25%    27.750000     7.300000   0.000000  ...   0.000000   0.000000    0.0
50%    48.500000     7.750000   0.000000  ...   0.000000   0.000000    0.0
75%    64.250000     8.175000   0.000000  ...   0.000000   0.000000    0.0
max    98.000000     8.800000   1.000000  ...   1.000000   1.000000    0.0

[8 rows x 10 columns]

In [23]:
#Descriptive Statistics
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [24]:
#Total Rows & Columns
df_movies.shape

(30, 11)

In [25]:
#Count of non-null values
df_movies.count()

Movie ID       30
Movie Name     30
IMDB Rating    30
Biography      30
Drama          30
Thriller       30
Comedy         30
Crime          30
Mystery        30
History        30
Label          30
dtype: int64

In [26]:
#Count of null values
df_movies.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [27]:
#Top & Bottom Records
df_movies.head()
df_movies.tail()

    Movie ID                        Movie Name  ...  History  Label
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[5 rows x 11 columns]

**Cleaning the Data**

In [28]:
#Drop 'label' column, it is not needed
df_movies.drop('Label',axis= 1,inplace=True)

##K Neareast Neighbor for Recommendation System

In [13]:
#Display final columns
df_movies.columns

Index(['Movie ID', 'Movie Name', 'IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History'],
      dtype='object')

In [9]:
#Set feature columns as variable 'x'
x = df_movies[['IMDB Rating', 'Biography', 'Drama','Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]

#Set class column as variable 'y'
y = df_movies['Movie Name']

In [10]:
#K-Nearest Neighbors & Fitting the Model
knn = NearestNeighbors(n_neighbors=5)

# fitting the model
knn.fit(x,y)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

###**Genre Information:**

**Movie: The Post**

IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comdey = No, Crime = No, Mystery = No, History = Yes

In [14]:
#Making a recommendation based on movie title "The Post"
the_post = [7.2,1,1,0,0,0,0,1]

distance, indices = knn.kneighbors([the_post])
print(indices)

[[28 27 29 16  2]]

In [15]:
#Print movie titles of recommended movies
for title in indices:
  print("Recommended Movies:")
  print(df_movies.iloc[title]['Movie Name'])

Recommended Movies:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object

###Automation of Recommendation System

In [ ]:
#Input "The Post" data into the df_movies dataframe
df_movies.loc[len(df_movies.index)] = [88, 'The Post', 7.2, 1,1,0,0,0,0,1]

#View the dataframe to see that "The Post" has been added as a new record
df_movies

In [54]:
#Define function for making recomendations
def recommendations (movie_title):

#Set feature variables as 'x' and class variable as 'y'
  x = df_movies[['IMDB Rating', 'Biography', 'Drama','Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
  y = df_movies['Movie Name']

#Use Nearest Neightbors and fit the model
  knn = NearestNeighbors(n_neighbors=5)
  knn.fit(x,y)

  movie_slice = df_movies.loc[df_movies['Movie Name']== movie_title]

  movie_info = movie_slice[['IMDB Rating', 'Biography', 'Drama','Thriller', 'Comedy', 'Crime', 'Mystery', 'History']].values.tolist()

  distance, indices = knn.kneighbors([movie_info[0]])

#get the 5 movie recommendations based on movie title input
  for title in indices:
      five_similar_movies = df_movies.iloc[title]['Movie Name']


  return print(f"Recommended Movies:\n{five_similar_movies[1:]}")

In [55]:
#use function to return the 5 recommendations based on "the post"
recommendations('The Post')

Recommended Movies:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
Name: Movie Name, dtype: object